/*Add CSS here */
:root {
    --granite-gray: #e5e5e5;
    --heliotrope: #e866ec;
    --ocean-blue: #01222f;
    --navlink: #240032;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    background-color: var(--granite-gray);
}

header {
    display: flex;
    align-items: center;
    padding: 1.5%;
    justify-content: space-around;
    background-color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    color: var(--ocean-blue);
    font-weight: 500;
    line-height: 1.5;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    float: left;
    padding-top: 90px;
    padding-left: 20px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    font-size: 2.7rem;
}

nav a {
    color: var(--navlink);
    text-decoration: wavy;
  }

  nav a:hover {
    color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

.content {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-me {
    padding: 30px;
    margin-top: 15px;
}
  
.avatar-picture {
    width: 15%;
    height: auto;
    float: left;
    padding: 15px;
}

.work {
    position: relative;
    text-align: center;
    color: var(--heliotrope);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






/*keep at very bottom */
@media screen and (min-width: 768px) {
    
}

